@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

body {
  background: url(../images/bg-intro-mobile.png) fixed no-repeat center center hsl(0deg, 100%, 74%);
  background-size: cover;
  font-family: Poppins, sans-serif;
  font-size: 1.6rem;
}

.bold {
  font-weight: 500;
  color: white;
  font-weight: 600;
}

.red-highlight {
  color: hsl(0deg, 100%, 74%);
  cursor: pointer;
}

.invalid {
  border: 0.1rem solid hsl(0deg, 100%, 74%) !important;
}

.container {
  width: min(90%, 150rem);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  gap: 6rem;
}

.section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  color: white;
  gap: 2rem;
}

.section-two {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.try-card {
  background-color: hsl(248deg, 32%, 49%);
  color: hsl(246deg, 25%, 77%);
  padding: 1.6rem 5rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.11);
}

.signup-form-section {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.11);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1.5rem;
}
.signup-form-section p {
  font-size: 1.2rem;
  color: hsl(246deg, 25%, 77%);
  text-align: center;
  padding: 0 2rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}
.signup-form input {
  padding: 1.5rem 0 1.5rem 1.5rem;
  font-family: Poppins, sans-serif;
  border-radius: 0.5rem;
  border: 0.1rem solid hsl(246deg, 25%, 77%);
  outline: none;
  font-weight: 600;
}
.signup-form input[type=submit] {
  cursor: pointer;
  background-color: hsl(154deg, 59%, 51%);
  color: white;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1rem;
  border: none;
  transition: background-color 0.2s;
  box-shadow: 0px 3px 0px 0px rgba(48, 184, 125, 0.986);
}
.signup-form input[type=submit]:hover {
  background-color: #3feba0;
}

@media screen and (min-width: 1100px) {
  body {
    background: url(../images/bg-intro-desktop.png) no-repeat center center fixed hsl(0deg, 100%, 74%);
    background-size: cover;
  }

  .container {
    flex-direction: row;
    align-items: center;
  }

  .section-one {
    flex: 1;
    text-align: left;
  }
  .section-one h1 {
    font-size: 6rem;
    line-height: 1.2;
  }
  .section-one p {
    font-size: 1.8rem;
  }

  .section-two {
    flex: 1;
    gap: 3rem;
  }

  .signup-form-section {
    padding: 4rem;
  }

  .signup-form {
    gap: 4rem;
  }
  .signup-form input {
    font-size: 1.7rem;
    padding: 2rem 0 2rem 2rem;
  }
}/*# sourceMappingURL=main.css.map */